body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    background-color: beige;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    height: 820px;

    background-color: azure;
}

.cell {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    aspect-ratio: 1;
}

.colored {
    background-color: blue;
}